.position-absolute{
    position: absolute !important;
}

.position-fixed{
    position: fixed !important;
}

.position-relative{
    position: relative !important;
}

.position-left-0{
    left: 0 !important;
}

.position-right-0{
    right: 0 !important;
}

.position-left-2{
    left: 100px !important;
}

.position-right-2{
    right: 100px !important;
}

.position-bottom-0{
    bottom: 0 !important;
}

.position-top-0{
    top: 0 !important;
}

.position-bottom-2{
    bottom: 100px !important;
}

.flex-basis-100 {
    flex-basis: 100%;
}

.bg-texture{
    background-image: var(--v-texture);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-primary::-webkit-scrollbar{
    width: 8px;
}

.scrollbar-primary::-webkit-scrollbar-thumb{
    border-radius: 100vw;
    background-color: rgb(var(--v-theme-primary));
}

.grid-row-1{
    grid-row: 1 !important;
}

.grid-row-2{
    grid-row: 2 !important;
}

.grid-column-1{
    grid-column: 1 !important;
}

.grid-column-2{
    grid-column: 2 !important;
}

.grid-column-3{
    grid-column: 3 !important;
}

.grid-column-4{
    grid-column: 4 !important;
}

.grid-column-1-3{
    grid-column: 1 / 3 !important;
}

.no-pointer-events{
    pointer-events: none !important;
}

.list-style-none{
    list-style: none !important;
}

.cursor-pointer{
    cursor: pointer;
}

.cursor-grab{
    cursor: grab;
}

.cursor-grabbing{
    cursor: grabbing;
}

.cursor-default{
    cursor: default;
}

.cursor-not-allowed{
    cursor: not-allowed;
}

.cursor-move{
    cursor: move;
}

.cursor-help{
    cursor: help;
}

.cursor-wait{
    cursor: wait;
}

.cursor-progress{
    cursor: progress;
}

.cursor-text{
    cursor: text;
}

.cursor-copy{
    cursor: copy;
}

.cursor-crosshair{
    cursor: crosshair;
}

.cursor-e-resize{
    cursor: e-resize;
}

.cursor-ne-resize{
    cursor: ne-resize;
}

.cursor-nw-resize{
    cursor: nw-resize;
}

.cursor-n-resize{
    cursor: n-resize;
}

.cursor-se-resize{
    cursor: se-resize;
}

.cursor-sw-resize{
    cursor: sw-resize;
}

.cursor-s-resize{
    cursor: s-resize;
}

.cursor-w-resize{
    cursor: w-resize;
}

.cursor-ns-resize{
    cursor: ns-resize;
}

.cursor-ew-resize{
    cursor: ew-resize;
}

.cursor-nesw-resize{
    cursor: nesw-resize;
}

.cursor-nwse-resize{
    cursor: nwse-resize;
}

.cursor-all-scroll{
    cursor: all-scroll;
}

.cursor-col-resize{
    cursor: col-resize;
}

.cursor-row-resize{
    cursor: row-resize;
}

.cursor-no-drop{
    cursor: no-drop;
}

.cursor-zoom-in{
    cursor: zoom-in;
}

.cursor-zoom-out{
    cursor: zoom-out;
}

.cursor-not-allowed{
    cursor: not-allowed;
}

.cursor-none{
    cursor: none;
}

.cursor-context-menu{
    cursor: context-menu;
}

.cursor-cell{
    cursor: cell;
}

.cursor-vertical-text{
    cursor: vertical-text;
}

.cursor-alias{
    cursor: alias;
}

.cursor-progress{
    cursor: progress;
}

.cursor-webkit-grab{
    cursor: -webkit-grab;
}

.cursor-webkit-grabbing{
    cursor: -webkit-grabbing;
}

.cursor-webkit-zoom-in{
    cursor: -webkit-zoom-in;
}

.cursor-webkit-zoom-out{
    cursor: -webkit-zoom-out;
}

.cursor-webkit-zoom-in{
    cursor: -webkit-zoom-in;
}

.no-user-select{
    user-select: none !important;
}

.elevation-compliment-6{
    box-shadow: 0px 5px 5px -1px rgb(0 0 0 / 20%), 0px 10px 10px 0px rgb(0 0 0 / 14%), 0px 18px 18px 0px rgb(0 0 0 / 12%) !important;
}

.center-grid{
    display: grid !important;
    place-items: center !important;
}

.white-space-nowrap{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
}

.white-space-pre{
    white-space: pre !important;
}

.d-inline-grid{
    display: inline-grid !important;
}

.width-50{
    width: 50px !important;
}

.max-width-75{
    max-width: 75vw !important;
}

.max-width-50{
    max-width: 50vw !important;
}
